[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lcmm"]
	path = lcmm
	url = https://github.com/cecileproust-lima/lcmm
	shallow = true
	registered = true
[submodule "NormPsy"]
	path = NormPsy
	url = https://github.com/cecileproust-lima/normpsy
	shallow = true
	registered = true
